<div class="row">
  <div class="col s12 m4 offset-m4">
    <div class="card hoverable">
      <div class="card-content center">
        <span class="card-title">Login Page</span>
        <p>
          user/pass est : <b>asma/asma</b>
        </p>
      </div>
      <form #loginForm="ngForm">
        <div>
          <label for="username">Nom d'utilisateur</label>
          <input
            type="text"
            id="username"
            [(ngModel)]="username"
            name="username"
            required
          />
        </div>
        <div>
          <label for="password">Mot de passe</label>
          <input
            type="password"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>
      </form>
      <p class="red">

      </p>
      <div *ngIf="errorMessage" class="card-panel red accent-1 center">
        {{ errorMessage }}
      </div>
      <div class="card-action center">
        <a
          (click)="login()"
          class="waves-effect waves-light btn"
          *ngIf="!authService.isUserLogged"
          >Se connecter</a>
      </div>
    </div>
  </div>
</div>
